body {
    font-family: "Jost", sans-serif;
    margin: 0;
    overflow: hidden;
}

#picker {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: none;

    left: 10%;
    pad: 8px;
    width: 80%;
    height: 100%;
    position: absolute;
}

#result1 {
    text-align: center;
    width: 100%;
    top: 10%;
    margin: 5px;
}